<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView DefaultLayout="@typeof(MainLayout)"
                   RouteData="@routeData" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Page not found.</p>
        </LayoutView>
    </NotFound>
</Router>
